#OrderPizza {
    position: relative;
    display: block;
    padding: 40px;
    background-image: url("../images/pizza/old_paper_background.jpg");
    background-size: cover;
    overflow: hidden;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
div.PizzaBanner {
    margin: none;
    padding: 40px 0px;
    background-image: url("../images/pizza/pizza_banner.jpg");
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 100%;
    left: 0;
}
div.PizzaBanner h1 {
    color: #ffffff;
    font-size: 72px;
    font-family: "Kaushan Script", cursive;
    text-align: center;
    position: relative;
    top: 30px;
    width: auto;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
#OrderPizza span {
    text-align: center;
    display: inline-block;
    position: relative;
}
#OrderPizza span:before, #OrderPizza span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: red;
}
#OrderPizza span:before {
    right: 100%;
    margin-right: 15px;
}
#OrderPizza span:after {
    left: 100%;
    margin-left: 15px;
}
#OrderPizza p {
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.columns-3 {
    display: inline-block;
    column-count: 3;
}
.product-list {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    height: 200%;
}
.product-list h3 {
    text-align: center;
    width: 385px;
}
.product-list h3 a {
    text-decoration: none;
    color: black;
}
.product-list li:hover a {
    color: red;
}
.product-list img {
    width: 385px;
    height: 194px;
    position: relative;
    -webkit-transition: top ease 0.8s;
    transition: top ease 0.3s;
    top: 0;
}
.product-list img:hover {
    top: -15px;
}