body {
    position: relative;
    display: block;
    padding: 40px;
    background-image: url("../images/pizza/old_paper_background.jpg");
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 1px solid LightGrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    left: 0;
}
#pizza {
    background-image: url("../images/pizza_icon.png");
    background-size: cover;
    background-position: center center;
    width: 40px;
    height: 40px;
    position: fixed;
    display: inline-box;
    left: 8px;
    top: 8px;
}
.navbar p {
    position: relative;
    float: left;
    text-align: left;
    display: inline-block;
    padding: 15px 53px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    letter-spacing: 0.02em;
}
.homebutton {
    float: right;
    overflow: hidden;
    display: inline-block;
}
.homebutton {
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: none;
    border-left: 1px solid lightgrey;
    border-right: 1px solid LightGrey;
    color: #000000;
    width: 60px;
    height: 51px;
    padding: 14px 16px;
    background-color: inherit;
    cursor: pointer;
}
.homebutton:hover {
    background-color: red;
}
.homebutton {
    background-image: url("../images/home_icon.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
}
div.PizzaBanner {
    margin: none;
    padding: 40px 0px;
    background-image: url("../images/pizza/pizza_banner.jpg");
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 100%;
    left: 0;
}
div.PizzaBanner h1 {
    color: #ffffff;
    font-size: 72px;
    font-family: "Kaushan Script", cursive;
    text-align: center;
    position: relative;
    padding: 20px 0;
    width: auto;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
body span {
    text-align: center;
    display: inline-block;
    position: relative;
}
body span:before, body span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: red;
}
body span:before {
    right: 100%;
    margin-right: 15px;
}
body span:after {
    left: 100%;
    margin-left: 15px;
}
body p {
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.columns-3 {
    display: inline-block;
    column-count: 3;
}
.product-list {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    height: 200%;
}
.product-list h3 {
    text-align: center;
    width: 385px;
}
.product-list h3 a {
    text-decoration: none;
    color: black;
}
.product-list li:hover a {
    color: red;
}
.product-list img {
    width: 385px;
    height: 194px;
    position: relative;
    -webkit-transition: top ease 0.8s;
    transition: top ease 0.3s;
    top: 0;
}
.product-list img:hover {
    top: -15px;
}
div.PizzaBanner h1 {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor:default;
  }
