body {
    position: relative;
    display: block;
    padding: 40px;
    background-image: url("../images/pizza/old_paper_background.jpg");
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 1px solid LightGrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    left: 0;
}
.navbar a {
    position: relative;
    float: left;
    text-align: left;
    display: block;
    padding: 15px 53px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.dropbtn {
    background-color: #ffffff;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    display: inline-block;
    left: 0;
}
.dropbtn:after {
    content: "";
    width:0px;
    height:0px;
    border-left:7px solid transparent;
    border-right:7px solid transparent;
    border-top:7px solid #000000;
    position:absolute;
    bottom: 45%; 
    right: 0;
    margin-right: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 500px;
    margin-top: 25px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.dropdown-content button {
    background-color: inherit;
    color: black;
    display: block;
    float: none;
    border: 1px solid LightGrey;
    width: 100%;
    text-align: center;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.dropdown-content button:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: red;
}
.tabcontent {
    display: none; 
}
#pizza {
    background-image: url("../images/pizza_icon.png");
    background-size: cover;
    background-position: center center;
    width: 40px;
    height: 40px;
    position: fixed;
    display: inline-box;
    left: 8px;
    top: 8px;
}  
.homebutton, .homebutton-pizza {
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: none;
    border-left: 1px solid lightgrey;
    border-right: 1px solid LightGrey;
    color: #000000;
    width: 60px;
    height: 51px;
    padding: 14px 16px;
    background-color: inherit;
    cursor: pointer;
    float: right;
    overflow: hidden;
    display: block;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
}
.homebutton:hover, .homebutton-pizza:hover {
    background-color: red;
}
.homebutton {
    background-image: url("../images/turtle_icon.png");
}
.homebutton-pizza {
    background-image: url("../images/home_icon.png");
}
div.PizzaBanner {
    margin: none;
    padding: 40px 0px;
    background-image: url("../images/pizza/pizza_banner.jpg");
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 100%;
    left: 0;
}
div.PizzaBanner h1 {
    color: #ffffff;
    font-size: 72px;
    font-family: "Kaushan Script", cursive;
    text-align: center;
    position: relative;
    padding: 20px 0;
    width: auto;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
body #red-line {
    text-align: center;
    display: inline-block;
    position: relative;
}
body #red-line:before, body #red-line:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: red;
}
body #red-line:before {
    right: 100%;
    margin-right: 15px;
}
body #red-line:after {
    left: 100%;
    margin-left: 15px;
}
body p {
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.columns-3 {
    display: inline-block;
    column-count: 3;
    column-width: 100px;
}
.product-list {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    height: 200%;
}
.product-list h3 {
    text-align: center;
    width: 100%;
}
.product-list h3 a {
    text-decoration: none;
    color: black;
}
.product-list li:hover a {
    color: red;
}
.product-list img {
    max-width: 100%;
    max-height: auto;
    position: relative;
    -webkit-transition: top ease 0.8s;
    transition: top ease 0.3s;
    top: 0;
    -webkit-animation: fadeEffect 0.5s;
    animation: fadeEffect 0.5s;
}
.product-list img:hover {
    top: -15px;
}
.pizza-image {
    margin-top: 25px;
    width: auto;
    height: 400px;
    -webkit-animation: slideLeft 0.3s ease-out;
    animation: slideLeft 0.3s ease-out;
    visibility: visible
}
.tabcontent h1 {
    position: relative;
    top: -50px;
    font-family: "Caveat", cursive;
    font-size: 72px;
    font-weight: 700;
    color: rgb(223, 20, 20);
}
.tabcontent p {
    position: relative;
    top: -80px;
    font-family: "Source Sans pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    color: black;
}
#order-button {
    background-color: #ffffff;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 15%;
    text-align: center;
    display: none;
    left: 0;
}
#order-button:after {
    content: "";
    width:0px;
    height:0px;
    border-bottom:7px solid transparent;
    border-top:7px solid transparent;
    border-left:7px solid #000000;
    position: absolute;
    right: 43%;
    margin-right: 15px;
}
#order-button:hover {
    background-color: red;
}
#order-button a {
    text-decoration: none;
    color: black;
}
#apology {
    display: none;
}
div.PizzaBanner h1, #hidden {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes slideLeft {
	0% {transform: translateX(150%);}
	50%{transform: translateX(-8%);}
	65%{transform: translateX(4%);}
	95%{transform: translateX(2%);}			
	100% {transform: translateX(0%);}
}
@-webkit-keyframes slideLeft {
	0% {-webkit-transform: translateX(150%);}
	50%{-webkit-transform: translateX(-8%);}
	65%{-webkit-transform: translateX(4%);}
	95%{-webkit-transform: translateX(2%);}			
	100% {-webkit-transform: translateX(0%);}
}
