body {
    position: relative;
    display: block;
    padding: 40px;
    background-image: url("../images/pizza/old_paper_background.jpg");
    background-size: cover;
    overflow: scroll;
    overflow-x: hidden;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom: 1px solid LightGrey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    left: 0;
}
.navbar p {
    position: relative;
    float: left;
    text-align: left;
    display: inline-block;
    padding: 15px 53px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: black;
    letter-spacing: 0.02em;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.dropdown .dropbtn {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: none;
    border: 1px solid lightgrey;
    color: #000000;
    width: 50%;
    height: 50px;
    margin-top: 25px;
    padding: 14px 16px;
    background-color: #f9f9f9;
    z-index: 2;
}
.dropdown:hover .dropbtn {
    background-color: red;
}
.dropbtn span {
    float: right;
}
.dropbtn span i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
.dropdown-content {
    float: none;
    display: none;
    position: fixed;
    left: 25%;
    background-color: #f9f9f9;
    width: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
.dropdown-content button{
    background-color: inherit;
    color: black;
    display: block;
    border: 1px solid LightGrey;
    width: 100%;
    text-align: center;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.dropdown-content a {
    text-decoration: none;
    color: #000000;
}
.dropdown-content button:hover{
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 0.3s;
    animation: fadeEffect 0.3s; 
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0.1;}
    to {opacity: 1;}
}
#pizza {
    background-image: url("../images/pizza_icon.png");
    background-size: cover;
    background-position: center center;
    width: 40px;
    height: 40px;
    position: fixed;
    display: inline-box;
    left: 8px;
    top: 8px;
}
.homebutton {
    float: right;
    overflow: hidden;
    display: inline-block;
}
.homebutton {
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border: none;
    border-left: 1px solid lightgrey;
    border-right: 1px solid LightGrey;
    color: #000000;
    width: 60px;
    height: 51px;
    padding: 14px 16px;
    background-color: inherit;
    cursor: pointer;
}
.homebutton:hover {
    background-color: red;
}
.homebutton {
    background-image: url("../images/home_icon.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
}
div.PizzaBanner {
    margin: none;
    padding: 40px 0px;
    background-image: url("../images/pizza/pizza_banner.jpg");
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 100%;
    left: 0;
}
div.PizzaBanner h1 {
    color: #ffffff;
    font-size: 72px;
    font-family: "Kaushan Script", cursive;
    text-align: center;
    position: relative;
    padding: 20px 0;
    width: auto;
    margin: 0 auto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
body #red-line {
    text-align: center;
    display: inline-block;
    position: relative;
}
body #red-line:before, body #red-line:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background: red;
}
body #red-line:before {
    right: 100%;
    margin-right: 15px;
}
body #red-line:after {
    left: 100%;
    margin-left: 15px;
}
body p {
    min-width: 300px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.columns-3 {
    display: inline-block;
    column-count: 3;
    column-width: 100px;
}
.product-list {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
    height: 200%;
}
.product-list h3 {
    text-align: center;
    width: 100%;
}
.product-list h3 a {
    text-decoration: none;
    color: black;
}
.product-list li:hover a {
    color: red;
}
.product-list img {
    max-width: 100%;
    max-height: auto;
    position: relative;
    -webkit-transition: top ease 0.8s;
    transition: top ease 0.3s;
    top: 0;
}
.product-list img:hover {
    top: -15px;
}
div.PizzaBanner h1 {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor:default;
  }
